.gtg-attrs-demo {
  width: 100%;
  height: auto;
  display: flex;

  .img-column {
    width: 50%;
    height: auto;
  }

  .text-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
  }
}